.Root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.Container {
	max-width: 1280px;
	margin: auto;
}

.Main {
	flex-grow: 1;
}

.Footer {
	flex-shrink: 0;
}

.Toasts {
	position: fixed;
	left: 20px;
	right: 20px;
	bottom: 20px;
}

.ToastsContainer {
	display: flex;
	flex-direction: column-reverse;
	gap: 10px;
}
